parameters:
    pathToComposerLockFile: %currentWorkingDirectory%/composer.lock


parametersSchema:
    pathToComposerLockFile: string()

services:
    - DimionX\PHPStan\Factory\ComposerLockFactory(pathToComposerLockFile: %pathToComposerLockFile%)
    -
        factory: DimionX\PHPStan\Rule\Packages\DevPackageRule()
        tags:
            - phpstan.rules.rule
